<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yaydoo FrontEnd</title>
</head>

<body>
    <div class="jumbotron-full">
        <div class="jumbotron text-white bg-dark my-2">
            <h1 class="display-3">Yaydoo FrontEnd.</h1>
            <hr class="my-4">
            <p class="lead text-white">Yaydoo FrontEnd Web API, es creada por GMayaS C:\>Desarrollo en Sistemas.</p>
        </div>
    </div>
    <div class="footer-copyright text-center text-white bg-dark">© {{yyyy}} Copyright:
        <a> GMayaS C:\>Desarrollo en Sistemas.</a>
    </div>
</body>

</html>