<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Usuarios</title>
</head>

<body>
    <div class="jumbotron-full">
        <div class="card border-light text-white bg-dark my-2">
            <div class="row">
                <div class="col-sm-2">
                    <a href="users">
                        <i class="btn btn-warning btn-sm ms-2 mt-3" data-toggle="tooltip" data-placement="top" title="Back"
                            data-original-title="Back">
                            <mat-icon>arrow_back</mat-icon> 
                        </i>
                    </a>
                </div>
                <div class="col-sm-6">
                    <div class="text-center mat-label-26 mt-3">Datos de usuario: {{dataHead}}</div>
                </div>
                <div class="col-sm-4">
                    <div class="d-flex flex-row-reverse">
                        <mat-form-field>
                            <mat-label>Buscar</mat-label>
                            <input matInput [(ngModel)]="searchValue" [name]="'search'" />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="card border-light">
                    <div class="card-body">
                        <h5 class="card-title">Agregar/Modificar</h5>
                        <form [formGroup]="userDataForm" autocomplete="on">
                            <div class="form-group">
                                <input type="hidden" formControlName="id_userdata" class="form-control"
                                    [(ngModel)]="usersService.selectUserData.id_userdata" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" formControlName="id_user_userdata" class="form-control"
                                    [(ngModel)]="usersService.selectUserData.id_user_userdata" />
                            </div>
                            <div class="form-group">
                                <label>Dirección de usuario</label>
                                <input type="text" formControlName="address_userdata" class="form-control"
                                    [(ngModel)]="usersService.selectUserData.address_userdata"
                                    [ngClass]="{ 'is-invalid': submitted && f.address_userdata.errors }" />
                                <div *ngIf="submitted && f.address_userdata.errors" class="invalid-feedback">
                                    <div *ngIf="f.address_userdata.errors.required">Dirección de usuario es requerido
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Telefono de usuario</label>
                                <input type="text" formControlName="phone_userdata" class="form-control"
                                    [(ngModel)]="usersService.selectUserData.phone_userdata"
                                    [ngClass]="{ 'is-invalid': submitted && f.phone_userdata.errors }" />
                                <div *ngIf="submitted && f.phone_userdata.errors" class="invalid-feedback">
                                    <div *ngIf="f.phone_userdata.errors.required">Telefomo de usuario es requerido</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Fecha de nacimiento de usuario</label>
                                <input type="date" formControlName="birthdate_userdata" class="form-control"
                                    [(ngModel)]="usersService.selectUserData.birthdate_userdata"
                                    [ngClass]="{ 'is-invalid': submitted && f.birthdate_userdata.errors }" />
                                <div *ngIf="submitted && f.birthdate_userdata.errors" class="invalid-feedback">
                                    <div *ngIf="f.birthdate_userdata.errors.required">Fecha de nacimiento es requerido
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary mt-1 me-1" type="button"
                                    (click)="onSubmit()">
                                    <span *ngIf="loading"
                                        class="spinner-border spinner-border-sm mt-1 me-1"></span>Save</button>
                                <button class="btn btn-secondary mt-1 me-1" type="button" (click)="onReset()">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="col-lg-13">
                    <div *ngIf="loadingData"><span class="spinner-border me-2"></span>Espere por favor ...</div>
                    <div *ngIf="!loadingData" class="lmn-scrollbar-x">
                        <control-table [search]="searchValue" [dataSource]="dataSource" [tableColumns]="columnas"
                            [dataSize]="dataSize">
                        </control-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center text-white bg-dark">© {{yyyy}} Copyright:
        <a> GMayaS C:\>Desarrollo en Sistemas.</a>
    </div>
    <!-- template -->
    <ng-template #accionTemplate let-columnVal="item">
        <a (click)="editUserData(columnVal)">
            <i class="btn btn-warning btn-sm ms-2" data-toggle="tooltip" data-placement="top" title="Editar"
                data-original-title="Editar">
                <mat-icon>edit</mat-icon>
            </i>
        </a>
        <a (click)="open(content, columnVal)">
            <i class="btn btn-danger btn-sm ms-2" data-toggle="tooltip" data-placement="top" title="Eliminar"
                data-original-title="Eliminar">
                <mat-icon>delete_forever</mat-icon>
            </i>
        </a>
    </ng-template>
    <!-- Modal -->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Aviso de Yaydoo.</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body card text-white  bg-danger">
            <h4 class="card-title">Advertencia.</h4>
            <label class="card-text">¿Está completamente seguro de eliminar estos datos?</label>
            <div class="d-flex w-100">
                <label class="mb-1"><strong>Dirección:</strong></label>
                <label class="mb-1 ms-1"><strong>{{ delUserDataSel?.address_userdata }}</strong></label>
            </div>
            <div class="d-flex w-100">
                <label class="mb-1"><strong>Teléfono:</strong></label>
                <label class="mb-1 ms-1"><strong>{{ delUserDataSel?.phone_userdata }}</strong></label>
            </div>
            <div class="d-flex w-100">
                <label class="mb-1"><strong>Fecha de nacimiento:</strong></label>
                <label class="mb-1 ms-1"><strong>{{ delUserDataSel?.birthdate_userdata }}</strong></label>
            </div>
            <div class="d-flex w-100">
                <label class="mb-1"><strong>Edad:</strong></label>
                <label class="mb-1 ms-1"><strong>{{ delUserDataSel?.age_userdata }}</strong></label>
            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="loading || confirm" type="submit" class="btn btn-danger"
                (click)="deleteUserData(); c('Delete click')" ngbAutofocus>
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>Aceptar</button>
            <button [disabled]="loading" type="button" class="btn btn-secondary"
                (click)="d('Cross click')">Cancelar</button>
        </div>
    </ng-template>
</body>

</html>