<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmo 02</title>
</head>

<body>
    <div class="jumbotron-full">
        <div class="card border-light text-white bg-dark my-2">
            <label class="text-center mat-label-26 mt-2 mb-4">Algoritmo 02</label>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card border-light">
                    <div class="card-body">
                        <div class="form-group">
                            <legend>Agregar datos:</legend>
                            <div>
                                <textarea class="form-control" id="lectura" rows="6"></textarea>
                            </div>
                            <div>
                                <button type="submit" (click)="onSubmit()" class="btn btn-primary mt-4">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card border-light mb-3">
                    <div class="card-body">
                        <label class="mat-label-26 mt-2 mb-4">Resultado: {{resultData}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center text-white bg-dark">© {{yyyy}} Copyright:
        <a> GMayaS C:\>Desarrollo en Sistemas.</a>
    </div>
</body>

</html>